* {
	margin: 0px;
	padding: 0px;
	font-family:Verdana;
}

/* Body */
#mainBody {
	
	
	margin: 0px auto;
	width: 1050px;
	height: 865px;
	
	
	
}
/* Header */
#mainHeader {
	background-color: #b4292e;
	width: 1046px;
	height: 130px;
	border: 3px solid black;
	float: left;
	
}
#logo {
	float: left;
	width: 149px;
	height: 130px;
	
	
}

h1 {
	font-size: 40px;
	text-align: center;
	letter-spacing: 5px;
	padding: 10px;
}
/* Content */
#mainContent {
	width: 1050px;
	height: 600px;
	float: left;
	border: 1px solid black;
}
#navigate {
	width: 350px;
	height: 250px;
	background-color: #cdc390;
	float: left;
	margin-top: 70px;
	margin-left: 40px;
	border: 3px solid black;
	border-radius: 5px;
	box-shadow: 10px 10px 5px grey;
	
}
li {
	font-size: 20px;
	list-style: none;
	margin: 20px;
	
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	
	color: #b4292e;
	
}

#bgImage {
	background-image: url('image/bg.png');
	width: 1050px;
	height: 434px;
	
}

/* Buttons */
#loginButton {
	background-color: #cdc390;
	width: 200px;
	height: 60px;
	float: left;
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 101px;
	border: 3px solid black;
}



#searchFunction {
	background-color: #cdc390;
	width: 350px;
	height: 60px;
	float: left;
	border: 3px solid black;
}

#newsLetterButton {
	background-color: #cdc390;
	width: 200px;
	height: 60px;
	float: left;
	margin-top: 30px;
	margin-right: 40px;
	margin-left: 101px;
	border: 3px solid black;
	
	
}
/* Footer */

#mainFooter {
	width: 1046px;
	height: 130px;
	background-color: #b4292e;
	float: left;
	border: 3px solid black;

}