#mainContentTitle{
    margin-left: auto;
    margin-right: auto;
    width: 525px;
    text-align: center;
}

#newsAutomotive{
    padding-left: 30px;
    width: calc(50% - 30px);
    float: left;
}

#automotiveBox{
    width: 160px;
    background-color: #cdc390;
    border: 2px solid black;
}

#newsMechatronica{
    padding-right: 30px;
    width: calc(50% - 30px);
    float: left;
}

#mechatronicaBox{
    width: 160px;
    background-color: blue;
    border: 2px solid black;
    float: right;
}

#feedMecha{
    float: right;
}