/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-okt-2018, 12:43:56
    Author     : nicktencaat
*/

.hopendagen{
  text-shadow: 2px 2px black ;
  font-size: 19pt;
  color: #b4292e;
  padding: 10px;
}

.hopendagentwee{
    text-shadow: 2px 2px black ;
    color: #b4292e;
    padding: 10px;
    
}

.voorwoord{
    height: 200px ;
    width: 450px;
}

p{
    padding: 10px;
    
}

.imgcalander{
    height: 100px;
    width: 100px;
    
}

.textdatum{
    font-weight: bold;
}

.dataopendagen{
    padding: 10px;
    height: 500px;
    width: 450px;
}