/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-okt-2018, 12:43:56
    Author     : nicktencaat
*/

.hopendagen{
  text-shadow: 2px 2px black ;
  font-size: 19pt;
  color: #b4292e;
  padding: 10px;
  width: 450px;
}

.hopendagentwee{
    text-shadow: 2px 2px black ;
    color: #b4292e;
    padding: 10px;
    width: 450px;
}

.imgschool{
    padding: 10px;
    float: right;
    width: 570px;
    height: 300px;
}

.imgafmeting{
    width: 550px;
    height: 300px;
    
}

.voorwoord{
    height: 200px ;
    width: 450px;
}

p{
    padding: 10px;
    
}

.imgcalander{
    height: 50px;
    width: 50px;
    float: left;
    
}

.textdatum{
    font-weight: bold;
    float: left;
    padding: 2px;
    padding-left: 10px;
    
}

.textdatumtwee{
    float: left;
    padding: 2px;
    padding-left: 10px;
    color: #3674d8;
    
}

.dataopendagen{
    padding: 10px;
    height: 450px;
    width: 750px;
}

.datumsleft{
    float:left;
    width: 300px;
    height: 100px;
}

.datumsright{
    float: right;
    width: 300px;
    height: 100px;
}

.hopendagendrie{
  text-shadow: 2px 2px black ;
  font-size: 19pt;
  color: #b4292e;
}
